html {
    /* background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background: rgb(240, 240, 240);
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0px;
}

div {
    background: rgb(255, 0, 0);
    color: blue;
}

span {
    background: rgba(255, 255, 255, 0.9);
    color: red;
}

.header {
    background: black;
    color: white !important;
}

#header {
    background: rgb(41, 116, 255);
    color: rgb(249, 248, 223) !important;
    display: flex;
    width: 100%;
    height: 60px;
}

#header div {

}

#header span {
    font-weight: bold;
    text-decoration: underline;
    color: white;
    font-style: italic;
    font-family: serif;
    background-color: inherit;
}

.ita {
    font-style: italic;
}

.strong{
    font-weight: bold;
}

#sidebar{
    width: 300px;
    height: calc(100vh - 105px);
    background: rgb(123, 7, 152);
    color : rgb(255, 255, 255);
    float: left;
}

#sidebar ul{
    list-style:none;
    padding-left : 0px;
}
#sidebar a{
    color : inherit;
    text-decoration: none;
    display: block;
}
#sidebar ul li{
    padding: 5px 15px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid rgb(253, 223, 255);
    font-family: sans-serif;
}
#sidebar ul:first-child {
    border-top: 1px solid rgb(253, 223, 255);
}

#sidebar ul li:hover {
    background: rgb(204, 106, 228);
}


#sidebar ul li:hover > ul{
    display: block;
}

#sidebar ul li ul li:hover {
    background: rgb(226, 159, 242);
    cursor: pointer;
}

#sidebar ul li ul{
    margin: 0px -15px;
    display: none;
    background: rgb(123, 7, 152);
}

#sidebar ul .active{
    background: rgb(204, 106, 228);
}

#sidebar ul .active ul .active{
    background: rgb(219, 167, 232);
}

#sidebar ul .active ul{
    display: block;
    background: rgb(155, 26, 187);
}

#container{
    overflow: auto;
    box-sizing: border-box;
    padding: 16px;
    width: calc(100vw - 300px);
    height: calc(100vh - 105px);
    margin-left: 300px;
    background: rgba(0, 0, 0, 0);
    color : rgb(20, 55, 107);
}

#container p{
    text-align: justify;
    background: rgb(242, 230, 247);
    padding: 15px;
    border: 1px solid rgb(63, 14, 84);
    border-radius: 5px;
}

#footer{
    /* width: calc(100vw - 24px); */
    width: 100vw;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid rgb(53, 75, 89);
    text-align: center;
    background: rgb(41, 116, 255);
    color: rgb(249, 248, 223) !important;
}

.badge{
    box-sizing: border-box;
    height : 100%;
    background: rgb(204, 240, 239);
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 2px;
}
